<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Coming soon | yakunin.design</title>
	<link rel="stylesheet" href="css/coming_soon.min.css">
	<link rel="stylesheet" href="css/lightTheme.min.css" id="themeParam">
	<link rel="icon" href="img/testLogo9.svg">
</head>
<body>
	<section>
		<div class="container">
			<div class="update-in-field card">
				<div class="content">
					<div class="update-in-field__logo">
						<a href="https://www.yakunin.design/">
							<img src="img/logoW.svg" id="logoToggle">
						</a>
					</div>
					<div class="update-in-field title">Coming soon.</div>
					<div class="update-in-field subtitle">We are launching yakunin.design soon, follow us for update</div>
					
					<form action="index.html">
						<input class="card__email-input card__input" type="text" placeholder="Email">
						<button class="card__button lng-button">Subscribe for update!</button>
					</form>

				</div>
				
			</div>
			<div class="lupdate-in-field nav">
				<div class="nav__links link-bar">
					<a href="#" class="nav__terms link-bar__link">Terms</a>
					<a href="coming_soon_ru.html" class="nav__russian link-bar__link" id="lang-toggle">Русский</a>
					<a href="#" class="nav__dark link-bar__link" id="theme-toggle">Dark</a>
				</div>
				<a href="https://www.yakunin.design/" target="_blank" class="nav__contact">Contact yakunin.design</a>
			</div>
		</div>
		
		<img src="img/bg-coming-soon.svg" alt="coming-soon" class="main-image">
		
	</section>
	<script src="js/dark_theme.js"></script>
	<script src="js/lang.js"></script>
</body>
</html>