<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gift | Yakunin Design</title>
	<link rel="stylesheet" href="css/login.min.css">
	<link rel="stylesheet" href="css/darkTheme.min.css" id="themeParam">
	<link rel="icon" href="img/testLogo9.svg">
</head>
<body>

	<div class="log-in-field">

		<div class="log-in-field__logo">
			<a href="https://www.yakunin.design/">
				<img src="img/logoD.svg" id="logoToggle">
			</a>
		</div>
		
		<h3 class="log-in-field__title">Congratulations, {{username}}! Your gift is ready!</h3>
		
		<div class="log-in-field__log-in-card card">
			<label class="card__email-label">Email</label>
			<input class="card__email-input card__input" type="text" value="e.yakunin04@gmail.com">
			<div class="card__password-label">Password</div>
			<input class="card__password-input card__input" type="text" value="3456789h">
		</div>
		
		<div class="log-in-field__tip">
			<p>Use this cardentials to enter <a href="https://designcourse.com/">Design course.</a> Enjoy the course!</p>
		</div>

</body>

</html>